<!DOCTYPE html>
<html>
    <head> 
        <meta charset="UTF-8">
        <title>Приложение: сборник рецептов</title>
        <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    </head>
  <body>
    <header id="pageHeader" style="border-radius: 25px;"><h1> My Recipe Book </h1></header>
    
    <nav id="mainNav" style="border-radius: 25px;">
      <p> <h2>Options</h2> </p>
      <p><a class='one' href="/">Main list</a></p>
      <!--Поиск по ключевому слову-->
    </nav>

    <footer id="pageFooter" style="border-radius: 25px;">
      <p> <h3>Bon appetit!</h3> </p>
    </footer>

    <article id="mainArticle" style="border-radius: 25px;">
        <h2> Add a recipe </h2>
        <form action="/add" method="POST">
            {{ template_form.hidden_tag() }}
    
            <p>{{ template_form.title.label }}
            {{ template_form.title(size=50) }}</p>
    
            <p>{{ template_form.ingredients.label }}
            {{ template_form.ingredients(style='height: 100px;  width: 400px;') }}</p>
    
            <p>{{ template_form.instructions.label }}
            {{ template_form.instructions(style='height: 100px;  width: 400px;') }}</p>
    
            <p>{{ template_form.submit() }}</p>
          </form>
    </article>  
   </body>
</html>