<!DOCTYPE html>
<html>
    <head> 
        <meta charset="UTF-8">
        <title>Приложение: сборник рецептов</title>
        <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    </head>
  <body>
    <header id="pageHeader" style="border-radius: 25px;"><h1> My Recipe Book </h1></header>
    
    <nav id="mainNav" style="border-radius: 25px;">
      <p> <h2>Options</h2> </p>
      <p><h3>Please sign up</h3></p>
      <p> or </p><a class="one" href="{{ url_for('login') }}">Sign In</a>
    </nav>

    <footer id="pageFooter" style="border-radius: 25px;">
      <p> <h2>Bon appetit!</h2> </p>
    </footer>

    <article id="mainArticle" style="border-radius: 25px;">
        <h2> Register </h2>
        <form action="/register" method="POST">
            {{ template_form.hidden_tag() }}
    
            <p>{{ template_form.username.label }}
            {{ template_form.username(size=50) }}</p>
    
            <p>{{ template_form.email.label }}
            {{ template_form.email(size=50) }}</p>
    
            <p>{{ template_form.password.label }}
            {{ template_form.password(size=50) }}</p>
 
            <p>{{ template_form.submit() }}</p>
            <span style="color: red;"> {{ txt }}</span>
          </form>
    </article>  
   </body>
</html>